<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Mon Portfolio Photo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <h1>📸 Mon Portfolio</h1>

    <div class="tabs">
        {% for category in images_by_category %}
        <button onclick="showTab('{{ category }}')">{{ category.capitalize() }}</button>
        {% endfor %}
    </div>

    {% for category, images in images_by_category.items() %}
    <div class="gallery tab-content" id="{{ category }}">
        {% for img in images %}
        <div class="card">
            <img src="{{ img }}" alt="photo" onclick="openLightbox(this.src)">
        </div>
        {% endfor %}
    </div>
    {% endfor %}

    <!-- Lightbox -->
    <div id="lightbox" onclick="closeLightbox()">
        <span class="close">×</span>
        <img id="lightbox-img" src="" alt="grande image">
    </div>

    <script>
        function openLightbox(src) {
            const lightbox = document.getElementById("lightbox");
            const lightboxImg = document.getElementById("lightbox-img");
            lightboxImg.src = src;
            lightbox.style.display = "flex";
        }

        function closeLightbox() {
            document.getElementById("lightbox").style.display = "none";
        }
    </script>
    <script>
        function showTab(category) {
            const contents = document.querySelectorAll('.tab-content');
            contents.forEach(div => {
                div.classList.remove('active');
            });

            const current = document.getElementById(category);
            if (current) {
                current.classList.add('active');
            }
        }

        window.onload = () => {
            const first = document.querySelector('.tab-content');
            if (first) {
                first.classList.add('active');
            }
        }
    </script>
</body>

</html>